.container-nota {
  display: flex;
  background-color: rgb(238, 238, 238);
  font-family: sans-serif;
  border-radius: 10px;
  padding: 5px;
  padding-left: 20px;
}

.dados-nota {
  width: 70%;
  padding: 5px;
}

.dados-nota h2,
p {
  margin: 0;
}

.dados-nota h2 {
  margin-top: 20px;
  margin-bottom: 50px;
}

.container-botoes {
  display: flex;
  width: fit-content;
  padding: 3px;
}

.container-botoes div {
  display: flex;
  justify-content: flex-end;
}

.container-botoes button {
  border: none;
  margin-left: 10px;
}

.container-botoes img {
  height: 28px;
  cursor: pointer;
}

.container-botoes a {
  max-height: max-content;
}

.container-botoes button:hover {
  transform: scale(1.1);
  background: transparent;
}
