.modal__bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  top: -100px;
  background-color: white;
  position: relative;
  box-shadow: 1px 1px 5px gray;
  width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  border-radius: 15px;
  animation: animacao_modal 1s;
}

@keyframes animacao_modal {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.modal__text {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

.modal__buttons {
  display: flex;
  justify-content: space-around;
  & button {
    border: none;
    width: 40%;
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }

  & .modal__buttons__cancelar {
    background-color: lightgray;
  }

  & .modal__buttons__excluir {
    background-color: red;
  }
}
