.textarea_component {
  display: flex;
  flex-direction: column;
}

.textarea__label {
  font-size: 1.5rem;
  font-weight: bold;
}

.textarea_component textarea {
  outline: none;
  border: 1px solid lightgray;
  padding: 4px 5px;
  border-radius: 5px;
  min-height: 115px;
  max-height: 400px;
  box-sizing: border-box;

  &:focus {
    box-shadow: 0 0 2px 2px lightblue;
    transition: 0.3s;
  }
}
