.container-notas {
  font-family: sans-serif;
  max-width: 400px;
  box-sizing: content-box;
  padding: 20px;
}

.titulo-pagina {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}
.container-function-page {
  width: 100%;
  padding: 10px;
  gap: 10px;
  display: flex;
}

.container-button-cancel,
.container-button-create {
  width: 50%;
}

.form {
  width: 400px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
textarea {
  min-width: 100%;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
input[type="submit"] {
  border: none;
  background-color: #007bff;
}

textarea {
  height: 80px;
}
